
/*fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    background: rgba(122, 191, 191, .5);
	font-family: 'Bebas Neue', sans-serif;
	font-family: 'Montserrat', sans-serif;
	color: #0D0D0D;
	margin: 0 auto;
}
body {
	background-color: #F2F2F2;
	/*didn't have time to display: grid so I used specific width for my own 
	visibility */
	width: 414px; 
	margin: 0 auto;	
}
header {
	opacity: 0.5;
}
nav {
	background-color: white;
	position: absolute;
	top: 0;
	color: #EB5428;
}
img {
	width: 5%;	
	height: auto;
}
h1 {
	font-size: 40px;
	font-family: 'Bebas Neue', sans-serif;
}
h2 {
	font-size: 30px;
	font-family: 'Bebas Neue', sans-serif;
}
h3 {
	font-size: 25px;
	font-family: 'Bebas Neue', sans-serif;
}
nav li {
	display: inline;
}
nav li a {
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
	color: #EB5428;
}
nav span{
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
}
menu li {
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
	list-style-type: none;
	text-decoration: none;
}
menu a {
	color: #EB5428;
	text-decoration: none;
}
footer {
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
}
p {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
dd {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
li {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
nav {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
input {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
dt {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
#side {
	background-color: #7ABFBF;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
@media screen and (min-width:768px) {
	body{
		/*didn't have time to display: grid so I used specific width for my own 
		visibility */
		width: 768px;
		margin: 0 auto;	
	}
}
@media screen and (min-width:1280px) {
	body{
		/*didn't have time to display: grid so I used specific width for my own 
		visibility */
		width: 1280px;
		margin: 0 auto;	
	}
}
